@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Poppins", serif;
    background-color: black;
    overflow-x: hidden;
    margin: 0;
}
.exo-font {
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
 
}

/* for prev and next arrows icons */
.custom-arrow {
    position: absolute;
    top: -30%;
    transform: translateY(-50%);
    z-index: 2;
    padding: 8px; 
    border-radius: 50%;
    transition: background-color 0.3s ease; 
  }
    
  .custom-arrow:hover {
    background-color: white;
  }

  .custom-prev {
    left: 84%; /* Adjust as needed */
    top: -60px;
  }
  
  .custom-next {
    left: 92%; /* Adjust as needed */
    top: -60px;
  }
  
  .slick-slider {
    position: relative;
  }
  
  .carousel-container {
    position: relative;
    overflow-x: hidden; /* Prevent X-axis overflow */
  }
  
  .slick-slider {
    margin: 0 auto; /* Center the slider */
    position: relative;
  }
  
  .slick-list {
    overflow: hidden; /* Ensure the slides are clipped */
    padding: 0; /* Remove extra padding */
  }
  
  .slick-track {
    display: flex;
  }

  
  
  
  /* for blocks moves from left to right and right to left */
 /* Apply left to right for the first and third rows */
.slick-left-right .slick-track {
  transform: translateX(0) !important;
}

.slick-right-left .slick-track {
  transform: translateX(100%) !important;
}


@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.box {
  display: grid;
  place-content: center;
  border: solid 5px transparent;
  border-radius: 2em;
  padding: 10px;
  
  --border-angle: 0turn;
  --gradient-border: conic-gradient(
      from var(--border-angle), 
      transparent 25%, 
      #08f, 
      #f03 99%, 
      transparent
  );
  
  position: relative;
}

.box::before {
  content: "";
  position: absolute;
  inset: -5px;
  border-radius: inherit;
  padding: 5px;
  background: var(--gradient-border);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  animation: border-move 3s linear infinite;
}

 @keyframes border-rotate {
            to {
                --border-angle: 1turn;
            }
        }

.box:hover::before {
  animation-play-state: paused;
}

/* Reduce the border opacity */
.PhoneInput input {
  background-color: transparent !important; /* Remove default background */
  border: 1px solid rgba(255, 255, 255, 0.05) !important; /* Adjust border opacity to 5% */
}

/* Ensure placeholder color and visibility */
.PhoneInput input::placeholder {
  color: #b0b0b0 !important;  /* Placeholder color */
  opacity: 1 !important;      /* Make sure placeholder is visible */
}

/* If PhoneInput has additional class names like .react-tel-input, you may need to target it as well */
.react-tel-input input {
  background-color: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.05) !important; /* Adjust border opacity to 5% */
}

.react-tel-input input::placeholder {
  color: #b0b0b0 !important;
  opacity: 1 !important;
}

/* spotlight shadow */
   
/* Common spotlight styles in navbar */
.spotlight {
  height: 90vh;
  width: 60vw; /* 40% of viewport width for each */
  background-image: radial-gradient(closest-side, rgba(47, 176, 3, 0.15), transparent);
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  z-index: 0;
  pointer-events: none;
}

/* Left spotlight */
.spotlight-left {
  left: -20vw; /* Move towards the left */
}

/* Right spotlight */
.spotlight-right {
  right: -20vw; /* Move towards the right */
}

/* Adjust for smaller screens */
@media screen and (max-width: 768px) {
  .spotlight {
      height: 50vh;
      width: 45vw; /* Slightly increase width */
  }
  
  .spotlight-left {
      left: -25vw;
  }

  .spotlight-right {
      right: -25vw;
  }
}

/* Adjust for very small screens */
@media screen and (max-width: 480px) {
  .spotlight {
      height: 60vh;
      width: 50vw; /* Take more space */
  }

  .spotlight-left {
      left: -30vw;
  }

  .spotlight-right {
      right: -30vw;
  }
}

/* mission spotlight */

.spotlight1 {
  height: 90vh;
  width: 60vw; /* 40% of viewport width for each */
  background-image: radial-gradient(closest-side, rgba(47, 176, 3, 0.15), transparent);
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  z-index: 0;
  pointer-events: none;
}
.spotlight2 {
  height: 90vh;
  width: 60vw; /* 40% of viewport width for each */
  background-image: radial-gradient(closest-side, rgba(47, 176, 3, 0.15), transparent);
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  z-index: 0;
  pointer-events: none;
}


/* Left spotlight */
.spotlight-left1 {
  left: -20vw; /* Move towards the left */
}

/* Right spotlight */
.spotlight-right1 {
  right: -20vw; /* Move towards the right */
}

/* Adjust for smaller screens */
@media screen and (max-width: 768px) {
  .spotlight1 {
      height: 50vh;
      width: 45vw; /* Slightly increase width */
  }
  
  .spotlight-left1 {
      left: -25vw;
  }

  .spotlight-right1 {
      right: -25vw;
  }
}

/* Adjust for very small screens */
@media screen and (max-width: 480px) {
  .spotlight1 {
      height: 60vh;
      width: 50vw; /* Take more space */
  }

  .spotlight-left1 {
      left: -30vw;
  }

  .spotlight-right1 {
      right: -30vw;
  }
}

/* orange spotlight colour */
.spotlightOrange {
  height: 90vh;
  width: 60vw; /* 40% of viewport width for each */
  background-image: radial-gradient(closest-side, rgba(255, 165, 0, 0.1), transparent);
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
  z-index: 0;
  pointer-events: none;
}

/* Left spotlight */
.spotlightOrange-left {
  left: -20vw; /* Move towards the left */
}

/* Right spotlight */
.spotlightOrange-right {
  right: -20vw; /* Move towards the right */
}

/* Basic styles for the WhatsApp icon */
#whatsapp-icon {
  position: fixed;
  bottom: 130px; /* Positioned at the bottom */
  right: 28px; /* Positioned at the right */
  z-index: 9999;
  transition: bottom 0.5s ease-in-out;
}

/* Add glow effect with animation */
#whatsapp-icon img {
  width: 60px; /* Size of the WhatsApp icon */
  height: 60px;
  border-radius: 50%; /* Circular shape */
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.6); /* Initial glow */
  transition: box-shadow 0.3s ease-in-out;
  animation: glowUpDown 2s infinite ease-in-out; /* Animation for glowing up and down */
}

/* Keyframes for the glowing up/down animation */
@keyframes glowUpDown {
  0% {
      transform: scale(1); /* Normal size */
      box-shadow: 0 0 10px rgba(236, 238, 236, 0.6); /* Initial glow */
  }
  50% {
      transform: scale(1.1); /* Slightly larger */
      box-shadow: 0 0 20px rgb(242, 243, 242); /* Stronger glow */
  }
  100% {
      transform: scale(1); /* Return to normal size */
      box-shadow: 0 0 10px rgba(237, 243, 237, 0.6); /* Initial glow */
  }
}

/* Basic styles for the calender icon */
#calender-icon {
  position: fixed;
  bottom: 210px; /* Positioned at the bottom */
  right: 28px; /* Positioned at the right */
  z-index: 9999;
  transition: bottom 0.5s ease-in-out;
}

/* Add glow effect with animation */
#calender-icon img {
  width: 60px; /* Size of the WhatsApp icon */
  height: 60px;
  border-radius: 50%; /* Circular shape */
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.6); /* Initial glow */
  transition: box-shadow 0.3s ease-in-out;
  animation: glowUpDown 2s infinite ease-in-out; /* Animation for glowing up and down */
}


@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.8; } /* Adjust transparency for the effect */
}

.animate-blink {
  animation: blink 3s infinite;
}
